Package: page.juliette.Chirp 
Name: Chirp 
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.11), firmware (>= 13.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Quick access music player 
Maintainer: Juliette <hi@juliette.page>
Author: Juliette <hi@juliette.page>
Section: Tweaks
Depiction: https://repo.juliette.page/depictions/chirp/other.html
SileoDepiction: https://repo.juliette.page/depictions/chirp/sileo.json
Icon: https://repo.juliette.page/assets/chirp/icon.png
