Package: page.juliette.Music 
Name: Music 
Depends: mobilesubstrate,  ws.hbang.common (>= 1.11)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Music player customization.
Maintainer: Juliette <hi@juliette.page>
Author: Juliette <hi@juliette.page>
Section: Tweaks
