<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Juliette</string>
            <key>user</key>
            <string>JuliettePod</string>
            <key>iconURL</key>
            <string>https://juliette.page/avatar</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Size</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>100</real>
			<key>max</key>
			<real>1000</real>
            <key>isSegmented</key>
            <true/> 
			<key>segmentCount</key>
			<real>20</real>
            <key>key</key>
            <string>JulietteWidgetSize</string>
            <key>showValue</key>
            <true/>
            <key>defaults</key>
			<string>page.juliette.CCMusicSliderPrefs</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Radius</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
            <key>key</key>
            <string>JulietteWidgetRadius</string>
            <key>showValue</key>
            <true/>
            <key>defaults</key>
			<string>page.juliette.CCMusicSliderPrefs</string>
            <key>PostNotification</key>
            <string>page.juliette.Chirp/ReloadPrefs</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Location</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>placeholder</key>
            <string>X</string>
            <key>key</key>
            <string>JulietteWidgetLocationX</string>
             <key>defaults</key>
			<string>page.juliette.CCMusicSliderPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>placeholder</key>
            <string>Y</string>
            <key>key</key>
            <string>JulietteWidgetLocationY</string>
            <key>defaults</key>
			<string>page.juliette.CCMusicSliderPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Gestures</string>
            <key>detail</key>
            <string>JulietteCCSettingsGesture</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source</string>
			<key>url</key>
            <string>https://github.com/justnaa/Chirp</string>
        </dict>	
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Chirp, a tweak made by Juliette</string>
        </dict>
    </array>
	<key>title</key>
	<string>Chirp</string>
</dict>
</plist>
